*
{
	font-family: PT Sans,sans-serif;
}
body {
	margin: 0;
	padding: 0;
}    
#topo {
	display: flex;
	justify-content: center;
	width: 100%;
	color: white;
	background-color: black;	
}
.container {
	display: block;
	justify-content: center;
	width: 990px;
	align-items: center;
}
.topo-int {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.tr-br {
	flex: 1;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tr-br a {
	text-decoration: none;
	color: white;

}
.tr-in {
	flex: 1;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tr-in a {
	text-decoration: none;
	color: white;
}
#geral {
	display:flex;
	justify-content:center;
	background-color: #5093bd;
	padding-bottom: 07%;

}
.geral-int {
	text-align: center;
}
.foto-perfil {

}
.foto-perfil img {
    margin-top: 50px;
    box-shadow: 2px 30px 30px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    /* border: 2px solid #222; */
    padding: 5px;
	width: 200px;
    height: 200px;
}
.email a {
	text-decoration: none;
	color:#000;
}   
.tel a {
	text-decoration: none;
	color:#000;
}   
.social {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #f1c40f69;
}
.social img {
    width: 30px;
    box-shadow: 0px 2px 31px 0 rgba(1,0,0,0.75);
    border-radius: 50%;
    align-self: center;
    padding: 5px;
	margin: 5px;
}
